@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body{
  background: linear-gradient(to right bottom, hsl(0, 0%, 0%), hsl(0, 0%, 13%), hsl(0, 0%, 7%));
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  min-height: 100vh;
  
  padding-bottom: 7rem;
}

.container form {
  padding: 2rem;
  width: 70rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.container form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.container form .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.container form .row .col .title {
  font-size: 2rem;
  color: #333;
  padding-bottom: 0.5rem;
}

.container form .row .col .inputBox {
  margin: 1.5rem 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 1rem;
  display: block;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 0.1rem solid #ccc;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.container form .row .col .inputBox input:focus {
  border: 0.1rem solid #000;
}

.container form .row .col .inputBox img {
  height: 3.4rem;
  margin-top: 0.5rem;
  -webkit-filter: drop-shadow(0 0 0.1rem #000);
          filter: drop-shadow(0 0 0.1rem #000);
}

.container form .row .col .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.container form .row .col .flex .inputBox {
  margin-top: 0.5rem;
}

.container form .sunmit-btn {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.7rem;
  background: #27ae60;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
}

.container form .sunmit-btn:hover {
  background: #2ecc71;
}

.btnvoltar {
  z-index: 10;
  position: relative;
  background-image: linear-gradient(to right bottom, hsl(0, 100%, 50%), hsl(0, 100%, 13%), hsl(0, 100%, 58%));
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  width: 50vw;
  max-width: max-content;
  min-width: 180px;
  height: 50px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  overflow: hidden;
  left: 50px;
  top: 70px;
  text-decoration: none;
}

.btnvoltar::before {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 100%;
  padding-block-end: 100%;
  background-color: rgb(255, 66, 66);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  z-index: -1;
  transition: transform 500ms ease;
}

.btnvoltar:is(:hover, :focus-visible)::before {
  transform: translate(-50%, -50%) scale(1);
}